/* 
Name: Aaron Cherian 
  File: homework1-mis3371.html 
  Date created: 09/01/2024
  Last Updated: 09/21/2024
  Version: 10
  Purpose: Medical Form css file for MIS 3371 HW1  
*/



header {
  width: 100%;
  background-color: rgba(18, 83, 91, 0.508);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 228, 228);
  margin: 0;
  height: 100%;
  min-height: 100vh; 
}

form {
  flex-grow: 1;
}

h1, h2,{
  text-align: center;
  font-family: "Copperplate", fantasy;
  font-weight: normal;
  flex-grow: 1;
}

main {
  text-align: center;
  font-family: "Copperplate", fantasy;
  font-weight: normal;
  flex-grow: 1;
}

.image {
  text-align: left;
}

.td1 {
  text-align: right;
  font-family: "optima", sans-serif;
  font-weight: bold;
}

th {
  text-align: center;
  font-family: "optima", sans-serif;
  font-weight: bold;
}

footer {
  position: relative;
  width: 100%;
  background-color: rgba(18, 83, 91, 0.508);
  height: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -1px;
  text-align: left;
  font-family: "optima", sans-serif;
  font-weight: normal;
  margin-right: 10px;
}

label {
  text-align: right;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

input {
  text-align: left;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

textarea {
  text-align: left;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

#today {
  text-align: left;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

p {
  text-align: right;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

tr.medical-history-question {
  margin-bottom: 50px; 
}

.error {
  color: red;
  font-size: 12px;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

.pword-message {
  text-align: right;
  font-family: "optima", sans-serif;
  font-weight: normal;
  position: relative;
  left: 100px;
  background: transparent;
  padding: 10px;
  border-spacing: 2px;
  border-radius: 20px;
  color: red;
}

#review {
  margin-top: 5px;
}

table.output,
tr.output,
td.output {
  width: 500px;
  background-color: rgba(160, 235, 223, 0.442);
  padding: 10px;
  border-spacing: 2px;
  border-radius: 20px;
  color: black;
}

td.output {
  width: 500px;
  background-color: rgba(160, 235, 223, 0.442);
  padding: 10px;
  border-spacing: 2px;
}
